#header {
	background-color: #f7f7f7;
	background-image: url('images/header-bg2.png');
	background-repeat: repeat-x;
	border-bottom: 1px solid #999999;
	height: 70px;
	padding: 10px;
	font-family: "Bitstream Vera Sans", sans-serif;
	font-weight: normal;
	letter-spacing: -2px;
	text-transform: lowercase;
	text-align: left;
	vertical-align: center;
	color: grey;
	margin: 0px;
}

.header {
	background-color: #f7f7f7;
	background-image: url('images/nav-off-bg.png');
	background-position: right top;
	background-repeat: no-repeat;
	font-variant: small-caps;
	border: 1px solid #dadada;
	margin-top: 10px;
	margin-bottom: 4px;
	color: #4b5a6a;
}

#container {
	background: black;
}


#posts {
	position: relative;
	padding-left: 10px;
	padding-right: 2px;
	float: right;
	width: 83%;
}

#sidebar {
	float: left;
	width: 14%;

	margin-left: 0px;
	margin-right: 0px;
	padding-right: 0px;
	padding-left: 2px;

	font-family: "Bitstream Vera Sans", sans-serif;
	font-size: 85%;
}

#sidebar a {
	color: black;
	text-decoration: none;
	display: block;
	padding-bottom: 2px;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: Georgia, "Bitstream Vera Serif", "New York", Paladino, serif;
}

h1 {
	color: #234764;
	font-size: 160%;
	text-decoration: none;
	border-bottom: 1px solid #767676;
}

h2 {
	color: #3c4b6b;
	font-size: 110%;
	font-weight: bold;
	border-bottom: 1px dotted #868686;
}

h2 a {
	color: #4c5b6b;
	text-decoration: none;
}

h4 {
	font-weight: bold;
	border-bottom: 1px dotted #a6a6a6;
	margin-top: 4px;
	margin-bottom: 6px;
}

h4 a {
	text-decoration: none;
	color: inherit;
}

img.face {
	float: right;
	margin-top: -3em;
}

.entry {
	margin-bottom: 2em;
}

.entry .date {
	font-family: "Bitstream Vera Sans", sans-serif;
	color: grey;
}

.entry .date a {
	text-decoration: none;
	color: inherit;
}

.content p {
	margin: 2px;
}
